<header>
  <h1 class="logo">
    <a href="{{ site.baseurl }}/" title="{{ site.title }}">{{ site.title }}</a>
  </h1>

  <nav role="navigation" class="ps__nav">
    <a href="#" class="ps__nav__menu" id="ps-menu"><span></span></a>
    <ul class="ps__nav__container">
      <a href="{{ site.baseurl }}/"><li class="ps__nav__link">Home</li></a>
      <a href=""><li class="ps__nav__link">Products</li></a>
      <a href=""><li class="ps__nav__link">About</li></a>
      <a href=""><li class="ps__nav__link">Shop</li></a>
      <a href=""><li class="ps__nav__link">Contact</li></a>
    </ul>
  </nav>
    <!-- <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a> -->

<!--     <nav class="site-nav">
      <div class="trigger">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav> -->



</header>
